// Here you can add other styles

.list-search-input {
  float: left;
  font-family: inherit;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.detail-search-input {
  float: left;
}

.key {
  float: left;
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.key-detail {
  float: left;
  margin-left: 5px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.head {
  height: 50px;
}

.input {
  width:100%
}

.logout-button {
  margin-top: 8px;
  margin-right: 10px;
  float: right;
}

.back-button {
  margin-top: -4px;
  margin-right: 10px;
  float: left;
}

.full {
  width: 100%;
  height: 20px;
}

.list-div {
  margin-left: 16px;
}

.list-title {
  margin-left: 4px;
}
