// Here you can add other styles

.search-input {
  font-family: inherit;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input {
  width:100%
}

.logout-button {
  margin-top: -4px;
  margin-right: 10px;
  float: right;
}
